@using MathWeb.Data;
@model IQueryable<TaskMath>

<h1>Your nickname : @User.Identity.Name</h1>
<h2>Social network: @User.Identity.AuthenticationType</h2>
<h3>My tasks</h3>

<table class="table table-bordered text-center">
    <thead class="thead-dark">

        <tr>
            <th>Short description</th>
            <th>Topic</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ShortDesc</td>
            <td>@item.Topic</td>
            <td>
                <ul class="list-inline m-0">
                    <a asp-area="" class="btn btn-info" style="height:37px" asp-controller="Task" asp-action="Details" asp-route-id="@item.UserId">Details</a>
                    @if (Context.User.Identity.Name == item.WhoMade || Context.User.Identity.Name == "DMIN")
                    {
                        <a asp-area="" class="btn btn-primary" style="height:37px" asp-controller="Task" asp-action="Edit" asp-route-id="@item.UserId">Edit</a>
                        <a asp-area="" class="btn btn-outline-danger" asp-controller="Task" asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                    }
                </ul>
            </td>
        </tr>
    }

</table>
